.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    height: 70px;
    width: 1200px;
    margin: 0 auto;
    &_logo {
        cursor: pointer;
        &-text {
            font-family: "Orbitron", sans-serif;
            font-size: 24px;
            text-decoration: none;
            font-weight: 700;
            color:#181717;
            &:hover {
                color: #df960f;
            }
        }
    }
    &_actions {
        display: flex;
        width: 35%;
        justify-content: space-between;
        align-items: center;
        font-family: "Montserrat", serif;
        &-user {
            font-size: 30px;
            cursor: pointer;
            display: flex;
            flex-direction: column;
            align-items: center;
            color: #181717;
            &-reg {
                font-size: 15px;
                color: #df960f;
                font-weight: 700;
                margin-top: 3px;
            }
            &:hover {
                color: #df960f;
            }
        }
        &-tel {
            font-size: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            cursor: pointer;
            &-message {
                font-size: 15px;
                color: #df960f;
                font-weight: 700;
            } 
            &:hover {
                color: #df960f;
            }
        }
        &-basket {
            font-size: 30px;
            display: flex;
            cursor: pointer;
            text-decoration: none;
            color: #000;
            position: relative;
            &-count {
                position: absolute;
                font-size: 20px;
                padding: 0 5px;
                border-radius: 100%;
                background-color: #df960f;
                top: -12px;
                left: -20px;
                color: #000;
                font-family: "Montserrat", serif;
                min-width: 22px;
                display: flex;
                justify-content: center;
            }
            &-order {
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin-left: 10px;
                span {
                    font-size: 15px;
                }
                &-sum {
                    font-weight: 700;
                    &:hover {
                        color: #000;
                    }
                }
                &-link {
                    color: #df960f;
                    font-weight: 700;
                }
            }
            &:hover {
                color: #df960f;
            }
        }
    }
}